body {
  font-family: sans-serif;
}

.homeImage {
  width: 100%;
  height: auto;
}

.plant-form {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.homePage h2 {
  text-align: center;
}

#plant-container {
  display: flex;
  flex-wrap: wrap;
}

.plant-option {
  flex-basis: 50%;
}

.plant-option img {
  width: 20%;
}

.label.form-label {
  color: rgb(95, 95, 95);
}

footer.footer {
  padding: 1rem 1rem;
}

#signUp {
  background-image: url('baground-signUp.jpg');
  background-position: bottom;
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navBar {
  background-color: #226f54;
}
