@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

body {
  font-family: sans-serif;
}

/* .homeImage {
  width: 100%;
  height: auto;
} */

.homePage {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plants1-1551895073.png');
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.home-btn {
  margin-top: 385px;
}

.plant-form {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.homePage h2 {
  text-align: center;
}

#plant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.plant-option {
  flex-basis: 30%;
  text-align: center;
  padding: 5px;
}

.plant-option img {
  height: 185px;
  width: auto;
}

.label.form-label {
  color: rgb(104, 104, 104);
}

footer.footer {
  padding: 1rem 1rem;
}

#signUp {
  background-image: url('baground-signUp.jpg');
  background-position: bottom;
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 600px;
  padding-top: 70px;
}

#logIn {
  background-image: url('logInBackgroun1.jpeg');
  background-position: bottom;
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 600px;
  padding-top: 70px;
}

.pageBox {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 30px;
  box-shadow: 5px 5px 15px 5px #b1b1b146;
}

#plant-form {
  background-image: url('baground-signUp.jpg');
  background-position: bottom;
  background-size: 100% 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navBar {
  background-color: #226f54;
}
.user-list {
  margin: 10px;
}

.single-plant-box {
  margin: 10px;
}

.single-plant-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plant-image {
  width: 200px;
  height: auto;
}

.single-plant-container {
  text-align: center;
}

.remove-btn {
  margin-top: 5px;
}

.plant-option a:hover {
  background-color: green;
}

.formButtons {
  margin-top: 3rem;
}

h1.headerLoginSignUp {
  color: rgb(133, 133, 133);
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  
.light-filter {
  margin-bottom: 10px;
}
