body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

nav a {
  display: inline-block;
  margin: 0.5em;
}

.homeImage {
  width: 100%;
  height: auto;
}

.navButtons {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  font-size: 10px;
}

.plant-form {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.footer a {
  margin: 5px;
}

.homePage h2 {
  text-align: center;
}

.newPlantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#plant-container {
  display: flex;
  flex-wrap: wrap;
}

.plant-option {
  flex-basis: 50%;
}

.plant-option img {
  width: 20%;
}

.label.form-label {
  color: rgb(95, 95, 95);
}
